@use "sass:math";

// TODO: Try moving more properties into SCSS, using the values below.
$card-size: 150px;
$frame-border: 5px;
$circle-border: 10px;
$duration: 150ms;

// It seems that two sets of keyframes are needed to toggle animations. The same keyframe
//  cannot be used again without removing the selector and restoring it on a later tick.
@keyframes flipUp {
    from {
        transform: rotate3d(0, 1, 0, 0deg);
    }

    to {
        transform: rotate3d(0, 1, 0, 180deg);
    }
}

@keyframes flipDown {
    from {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    to {
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@keyframes showUp {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes showDown {
    from {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    to {
        opacity: 0;
    }
}

.flipped-up {
    transform: rotate3d(0, 1, 0, 180deg);
    animation-name: flipUp;
    animation-duration: $duration;
    animation-timing-function: linear;

    .front {
        opacity: 1;
        animation-name: showUp;
        animation-duration: $duration;
        animation-timing-function: linear;
    }

    .back {
        opacity: 0;
        animation-name: showUp;
        animation-direction: reverse;
        animation-duration: $duration;
        animation-timing-function: linear;
    }
}

.flipped-down {
    transform: rotate3d(0, 1, 0, 0deg);
    animation-name: flipDown;
    animation-duration: $duration;
    animation-timing-function: linear;

    .front {
        opacity: 0;
        animation-name: showDown;
        animation-duration: $duration;
        animation-timing-function: linear;
    }

    .back {
        opacity: 1;
        animation-name: showDown;
        animation-direction: reverse;
        animation-duration: $duration;
        animation-timing-function: linear;
    }
}

rect.frame {
    fill: gold;
}

.card-text {
    font: 72px sans-serif;
}
